.ab-canvas-div {
    width: 70%;
    height: 100%;
    display: inline-flex;
    position: relative
}
.ab-canvas {
    width: 1000px;
    height: 700px;
    display: table-row-group;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #000000;
    border: white 1px solid;

}
.ab-canvas-visualization1{
    width: 250px;
    height: 250px;
    display: table-row-group;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #000000;
    border: white 1px solid;
}
.ab-canvas-visualization2{
    width: 250px;
    height: 250px;
    display: table-row-group;
    position: absolute;
    top: 280px;
    right: 20px;
    background: #000000;
    border: white 1px solid;
}
.ab-canvas-stereopscopy {
    display: none;
}