.ab-navbar{
    background: #370037;
    width: 30%;
    height: 100%;;
    padding: 10px;
}
.ab-navbar div {
    padding: 5px;
}
label {
    color: white;
}
.ab-ul-points{
    max-height: 200px;
    overflow-x: hidden;
    width: 400px;
    overflow-y: scroll;
    list-style-type: none;
}
.ab-delete-point{
    width: 30px;
    height: 30px;
}
.ab-delete-point-button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.ab-point-list-input{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
}
.ab-point-list-li{
    position: relative;
    height: 32px;
}